
div.container {
    background-color: #f5f5f5;
    margin-top: 30px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}



/* Calendar Style */
table.ec_main {
    width: 294px;
}

table.ec_main td.ec_column {
    width: 42px;
}